html {
	height: 100%;
	font-size: 16px;
	font-family: arial;
}
body {
	height: 100%;
	margin: 0;
}
#interface {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	& > header, & > footer {
		padding: .5em 1em;
		background-color: #EEE;
		display: flex;
		justify-content: space-between;
	}
	& > header {
		order: -1000;
		h1 {
			margin: 0;
		}
	}
	& > footer {
		order: 1000;
		font-size: smaller;
	}
}

#app {
	padding: 1em;
}
#ciel {
	--largeur: 1200px;
	--hauteur: 600px;
	background-color: lightskyblue;
	position: relative;
	width: var(--largeur);
	height: var(--hauteur);
	margin: 0 auto;
	overflow: hidden;
	.ballon {
		position: absolute;
	}
}
#decompte {
	position: absolute;
	border:1px solid black;
	padding: 1em;
	border-radius: .5em;
	margin-top: -3em;
	&::before {
		content: "Décompte : ";
	}
}